<!doctype html>
<html>
<head>
    <title>Mind Travel</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <!-- <style>
        body        { padding-top:80px; }
    </style> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script>
  window.console = window.console || function(t) {};
</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>

</head>
<body>
<div class="container">

    <div class="jumbotron text-center title-block">
        <h1>
          <!-- <span class="fa fa-lock"></span> -->
          Mind Travel
        </h1>

        <!-- <p>Login or Register with:</p> -->

        <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a> -->
        <!-- <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a> -->
        <a href="/login" class="go-btn">Go</a>
    </div>


</div>
<%- include('kaleidoscope'); %>




</body>
</html>
