/* .hover01 img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.hover01{
  overflow: hidden;
} */

.hover01 img {
opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01:hover img {
  opacity: .5;
}
/* .gallery{
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
	padding-top: 50px;
} */

.image-container{
  height:200px;
	text-align: center;
	background-size: cover;
	padding-right: 0px;
	padding-left: 0px;
}

.img-thumb{
	height: 100%;
	width: 100%;
	object-fit: cover;
}