<!doctype html>
<html>
  <head>
    <% include ../../partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/admin/albums.css">

  </head>
  <body>
    <% include ../../partials/header.ejs %>
    <div class="container">
      <div class='action-bar'>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newAlbumModal">New Album</button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Images</th>
            <th scope="col">Creator</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% albums.forEach(function(album) { %>
              <tr class="album-table-row" data-href='/admin/albums/<%= album.id %>' data-id="<%= album.id %>" data-name="<%= album.name %>">
                <td><%= album.name %></td>
                <td>X</td>
                <td>Workin Prog</td>
                <td>
                  <button type="submit" class="btn delete-album-btn"  data-toggle="modal" data-target="#deleteAlbumModal">
                    <span class="fa fa-remove" aria-hidden="true" >
                  </button>
                </td>
              </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

<!-- New Album Modal -->
<div class="modal fade" id="newAlbumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Album</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/albums/create" method="post">
        <div class="modal-body">
            <div class="form-group">
              <label for="albumName">Album name</label>
              <input type="text" class="form-control" id="albumName" name="albumName" placeholder="Enter album name">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="btnNewAlbum" type="submit" class="btn btn-primary" value="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Album Modal -->
<div class="modal fade" id="deleteAlbumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Album</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/albums/delete" method="post">
        <div class="modal-body">
          Do you really want to delete this album : <b><span id="deleteAlbumModalAlbumName"></span></b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        
            <input id="deleteAlbumModalAlbumId" type='hidden' name='id' value=''  value="submitDelete"/>
            <button type="submit" class="btn btn-danger" >
              Delete
            </button>
        </div>
      </form>
    </div>
  </div>
</div>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script>
  $("#btnNewAlbum").click(function(e) {
    e.preventDefault();
    $.ajax({
        type: "POST",
        url: "/admin/albums/create",
        data: { 
          albumName: $("#albumName").val()
        },
        success: function(result) {
          location.reload();
        },
        error: function(result) {
          alert(result.responseText);
        }
    });
  });

  
  // redirect to album when click on row
  $('.album-table-row').click(function(){
    // check if the mouse isn't on an action button
    if ($('.delete-album-btn:hover').length == 0) {
      window.location = $(this).data('href');
    }
    else{
      // change album informations in the delete modal on click
      $('#deleteAlbumModalAlbumName').text($(this).data('name'));
      $('#deleteAlbumModalAlbumId').val($(this).data('id'));
    }
  });

  </script>

  </body>
</html>
