body{
    background-color:#ecf0f1;
}
body .container{
    background-color: white;
}

.action-bar{
    padding-top: 1em;
    padding-bottom: 1em;
}

.empty-page{
    padding: 10em;
    text-align:center;
    color:#bdc3c7;
}