<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Mind Travel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/albums">Albums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">Users</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout"><span class="fa fa-sign-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>


<script>
var nav = "<%= nav%>" ;

var navItems = document.getElementsByClassName("nav-item");

switch(nav){

  case "dashboard":
  navItems[0].classList.add("active");
    break;

  case "albums":
  navItems[1].classList.add("active");
    break;
}
</script>